/*Base Styles*/
* {box-sizing: border-box;
	font-size: 16px;
	font-family: "Times New Roman", Times, serif;}



h1 {text-align: center;
	font-size:175%;}

div.innerbox {background-color: gray; 
	border:1px solid black;
	position: relative;

	margin-right: auto;
	margin-left: auto;
	width:90%;}

p {clear: both;}

.subhead {font-size:125%;
		  border: 1px solid black;
		  font-weight: bold;
		  position: absolute;
		  top: -1px;
		  right: -1px;
		  margin-top: 0px;
		  margin-bottom: 40px;
		  width: 30%;
		  text-align: center;}

#subhead1 {
  background-color: #DEB887;
  }

#subhead2 {
  background-color: #5F9EA0;
  }

#subhead3 {
  background-color: #FF7F50;
  }	  

p.content {  
	width: 90%;
	margin-right: auto;
	margin-left: auto;
    margin-top: 30px;
}

/****** desktop view or large device ******/
@media (min-width: 992px){

	.col-lg-4 {
	    width: 33.3%;
	    float:left;
	    margin-top: 30px;
	}

}


/****** Tablet view or Medium device ******/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    width: 50%;
    float:left;
    margin-top: 30px;
  }
  .col-md-12 {
    width: 100%;
    float:left;
    margin-top: 30px;
  }

  .col-md-12>.innerbox {width:95%;}
  .col-md-12 .content {width:95%;}

}


/****** mobile view or small device ******/
@media (max-width: 767px) {
  .col-sm-12 {
    width: 100%;
    float:left;
    margin-top: 30px;
  }
}